:root {
    --darkSlateGray: #091994; /* sidebar */
    --torquoise: #3dc3d6; /* nav bar */
    --tomato: #fe5460; /* expense */
    --seaGreen: #41dd66; /* income */
    --silver: #c8c7cc; /* arrow */
    --gainsboro: #f3f1f6; /* date */
    --background: #f8f8fa; /* background */
    --white:rgba(255, 255, 255, 0.1); /* tablerow */
  }
  
  body {
    font-family: 'Jost', sans-serif;

    background-image: linear-gradient(316deg, #310e68 0%, #4c0c34 74%);
    color: var(--primary-color);
  }
  p {
    margin: 0;
  }
  
 .container{
    padding-left: 50px;
 }
  .hidden {
    display: none;
  }
  .header {
    color: whitesmoke;
    top
  }
  .header-headings {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    padding-left: 500px;
    
  }
  .header-profile {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    
  }
  
  .info {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
  }
  .info-add-new,
  .info-summary {
    display: flex;
    height: 20rem;
    width: 30rem;
    background-color: var(--white);
    border-radius: 30px;
    padding: 1rem;
    overflow-y: auto;
    
  }
 
  .detail {
    margin-top: 2rem;
    display: flex;
    color: white;
    justify-content: space-around;
  }
  
  .detail-category,
  .detail-recents {
    display: flex;
    /* height: 20rem;
    width: 30rem; */
    background-color: var(--white);
    border-radius: 20px;

  }
  
  .add-btn,
  .formGroup input[type='submit'] {
    background: rgba(255, 255, 255, 0.4);
    border: none;
    height: 35px;
    border-radius: 30px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    cursor: pointer;
  }
  .add-btn:hover,
  .formGroup input[type='submit']:hover {
    background-color: darkcyan;
  }
  
  .del-btn {
    background-color: var(--tomato);
    border: none;
    border-radius: 6px;
    padding: 15px;
    color: white;
    cursor: pointer;
  }
  .del-btn:hover{
    background-color: red;
  
  }
  
  .active-tab {
    background: rgba(255, 255, 255, 0.4);
  }
  .active-tab:hover {
    background-color: brown;
  }
  #incomeAddForm {
    display: flex;
    flex-direction: column;
    padding: 10px;
    
  }
  .formGroup {
    padding: 10px 0 10px 0;
  }
  input[type='text'],
  input[type='number'],
  select {
    min-height: 20px;
    padding: 5px;
    border: 1px solid var(--torquoise);
    border-radius: 6px;
    outline: none;
  }
  
  .totalincome-value {
    display: flex;
    flex-direction: column;
  }
  .totalincome-value table {
    max-width: 80%;
    text-align: center;
    color: white;
  }
  .incomeBudgetCompare table {
    width: 80%;
    text-align: center;
  }
  
  .budget-table table tr td:nth-child(2) {
    text-transform: capitalize;
  }
  
  .budget-table td {
    text-align: center;
    color: white;
  }
  
  #incomeChart {
    height: 480px !important;
    width: 480px !important;
    background-color: var(--white);
    margin-bottom: 3rem !important;
  }
  
  #incBudCompareChart {
    height: 380px !important;
    width: 30rem !important;
    background-color: var(--white);
  }
  
  
  /* EXpenses */
  .expense-form-inputs{
    display: flex;
    gap:20px;
    color: white;
  }
  .all-expenses-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
  }
  
  .detail-expense-category, .detail-expense-recents,.detail-summary-category, .detail-summary-recents{
    display: flex;
    height: 20rem;
    width: 30rem;
    background-color: var(--white);
    border-radius: 20px;
    padding: 1rem;
    flex-direction: column;
  }
  .exhaustionDiv,.innerexhaustionDiv{
    height:1.2rem;
    border-radius: 8px;
    width:20rem;
  }
  .exhaustionDiv{
    border:1px solid black;
  }
  .innerexhaustionDiv{
    background-color: var(--torquoise);
  }
  .all-expenses{
    overflow-y: scroll;
  }
  .all-expenses table{
    width:95%;
    text-align: center;
    
  }
  .detail-expense-recents,.detail-summary-category, .detail-summary-recents{
    height:35rem;
  }
  
  /* summary */
  
  .summary-info-add{
    width:100%;
    text-align: center;
    color: white;
  }
  .summary-budget-table table{
    width:95%;
  }
  .summary-summary{
    display: flex;
    flex-direction: column;
    color: white;
  }
  .summary-saving{
    margin-top:3rem;
    display: flex;
    align-items: center;
    gap:30px;
  }
  .summary-saving span{
    font-weight: 700;
  }