/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Grey+Qo&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Outfit:wght@100..900&family=Platypi:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Whisper&family=Young+Serif&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-image: url('https://img.freepik.com/free-vector/abstract-realistic-particle-background_23-2148409681.jpg?size=626&ext=jpg'); */
    background-color: #310e68;
    background-image: linear-gradient(316deg, #310e68 0%, #4c0c34 74%);
    background-size: cover; 
    background-repeat:repeat-y;
    background-position: center;
}
.nav{
   color: white;
   font-family: 'Poppins', sans-serif;
   font-weight: 600;
   padding: 15px 50px;
   font-size: 50px;
  
   border-radius: 10px;
   /* box-sizing: border-box; */
}
.nav :nth-child(1){
    display: flex;
}
.nav2{
   width: 100%;
   display: flex;
   justify-content: end;
   align-items: end;
   padding: 5px;
}

.list{
    display: flex;
    list-style: none;
    font-size:19px;
    justify-content:end;
    align-items: end;
    gap:40px;

}
.list:hover{
    cursor: pointer;
}
.list-items:hover, .active {
    padding-bottom: 4px;
}

.container{
    padding: 100px 150px;
    display: flex;
    gap:30px;
}
.container img{
    width: 200px;
}

.container div{
 color: white;
 font-family: "Dancing Script", cursive;
 font-size: 40px;
 display: flex;
 align-items: center;
 justify-content: end;
 padding-left: 250px;

}
#para p{
    color: white;
    font-family: 'Poppins', sans-serif;
    word-spacing: 3px;
    font-size: 15px;
    /* line-height: 30px; */
    padding: 30px 15px 100px 40px;
}
footer{
    font-size: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px;
}
.list li a{
    text-decoration: none;
    color: white;
    scroll-behavior: smooth;
}

