@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url( https://img.freepik.com/free-vector/dark-wavy-colors-background_23-2148403785.jpg?w=1060&t=st=1721750038~exp=1721750638~hmac=426a15c0acbba410d01b0c66ee8bf34c07b7165562c494c7ac6047845ab794fd );
    background-size: cover; 
    background-repeat:repeat-y;
}
.nav{
   color: white;
   font-family: "Josefin Sans", sans-serif;
   padding: 120px 150px;
   font-size: 300px;
}
.nav :nth-child(1){
    display: flex;
}
.nav2{
   width: 100%;
   display: flex;
   justify-content: end;
   align-items: center;
   padding: 100px;
}
   
.list{
    display: flex;
    list-style: none;
    font-size:90px;
    justify-content:end;
    gap:90px;
   
}
.list:hover{
    cursor: pointer;
}
.container{
    padding: 290px 350px;
    display: flex;
    gap:800px;
}
.container img{
    width: 2000px;
}

.container div{
 color: white;
 font-family: "Josefin Sans", sans-serif;
 font-size: 150px;
 display: flex;
 align-items: center;
 justify-content: end;

}
#para p{
    color: white;
    font-family: "Josefin Sans", sans-serif;
    word-spacing: 4px;
    font-size: 70px;
    line-height: 100px;
    padding: 700px 160px 1000px 160px;
}
footer{
    font-size: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 160px;
}
.list li a{
    text-decoration: none;
    color: white;
    scroll-behavior: smooth;
}